# Large publication data files stored with Git LFS

genome/*.fa.gz filter=lfs diff=lfs merge=lfs -text
annotation/*.gtf.gz filter=lfs diff=lfs merge=lfs -text
annotation/*.aa.gz filter=lfs diff=lfs merge=lfs -text
supplementary/*.vcf.gz filter=lfs diff=lfs merge=lfs -text
